<app-navbar></app-navbar>

<div class="container mt-5">
  <h2 class="mb-4">Employee Profile</h2>

  <div class="shadow p-4 rounded bg-light">
    <div class="mb-3">
      <label class="fw-bold">Name</label>
      <p>{{ employee?.name }}</p>
    </div>

    <div class="mb-3">
      <label class="fw-bold">Email</label>
      <p>{{ employee?.email }}</p>
    </div>

    <div class="mb-3">
      <label class="fw-bold">Department</label>
      <p>{{ employee?.department }}</p>
    </div>

    <div class="mb-3">
      <label class="fw-bold">Role</label>
      <p>{{ employee?.role }}</p>
    </div>
  </div>
</div>
